<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_meta') %>
  </head>
  <body>
    <%- include('../partials/_header') %>
    <div class="body-container">
      <%- include('../partials/_sideBarLeft')%> <%-
      include('../partials/_errorBody')%> <%-
      include('../partials/_sideBarRight')%>
    </div>
    <%- include('../partials/_footer')%>
  </body>
</html>
