<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_meta') %>
    <title>Blog</title>
  </head>

  <body>
    <%- include('../partials/_header') %>
    <div class="body-container">
      <%-include('../partials/_sideBarLeft')%>
      <button id="toggleSidebars">Toggle Sidebar</button>
      <%-include('../partials/_mainBody')%>
      <%-include('../partials/_sideBarRight')%>
    </div>
    <%-include('../partials/_footer')%>
  </body>
</html>
