<div class="form-group">
    <label for="firstName">First Name</label>
    <input required value="<%= student.firstname %>" type="text" name="firstName" id="firstName" class="form-control">
  </div>
<div class="form-group">
    <label for="lastName">Last Name</label>
    <input required value="<%= student.lastName %>" type="text" name="lastName" id="lastName" class="form-control">
  </div>
<div class="form-group">
    <label for="imageUrl">image Url</label>
    <textarea required name="imageUrl" id="ImageUrl" class="form-control"><%= student.imageUrl %></textarea>
  </div>
<div class="form-group">
    <label for="grade">Grade</label>
    <input required value="<%= student.grade %>" type="number" name="grade" id="grade" class="form-control">
  </div>
  <div class="form-group">
    <label for="School">School</label>
    <input required value="<%= student.school%>" type="string" name="School" id="School" class="form-control">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input required value="<%= student.address %>" type="string" name="address" id="address" class="form-control">
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone number</label>
    <input required value="<%= student.phoneNumber %>" type="string" name="phoneNumber" id="phoneNumber" class="form-control">
  </div>
  
  <a href="/" class="btn btn-secondary">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>