<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_meta') %>
  <title>Users</title>
</head>

<body>
  <%- include('../partials/_header') %>
  <div class="body-container">
    <%- include('../partials/_sideBarLeft')%>


    <div class="directory-container">
      <div class="directory-text">Directory</div>

      <hr />
        
      <h2>The information on this page is confidential - it is only avalible to registered and approved users</h2>
      
      <select id="filterValue" onchange="GetSelectedTextValue(this)">
        <option value=""></option>
        <option value="user.firstName">First Name</option>
        <option value="user.lastName">Last Name</option>
        <option value="user.kind.coach">Coach</option>
        <option value="user.kind.Executive">Executive</option>
        <option value="user.kind.student">Student</option>
        <option value="user.kind.mentor">Mentor</option>
        <option value="user.kind.parent">Parent</option>
        <option value="user.school">School</option>
        <option value="user.kind.alumni">Alumni</option>
    </select>
      </div> 
      <% 
        const numCols = 3
        const numRows = Math.trunc(events.length/numCols)+1 
        %>
      <table class="directory-table">
        <% for(let row=0; row<numRows; row++){ %>
        <tr class="directory-table-row">
          <% for(let col=0; col<3; col++) {
                  const index = row*numCols+col
                  let evt = events[index]     
              %>
          //dummy code
        <div class="directory-item">
            <img src="<%user.imageurl%> class="student-img">
            <div class="directory-text">
                <ol>
                <li class="directory-firstname"><%user.firstName%></li>
                <li class="directory-lastname"><%user.lastName%></li>
                <li class="directory-list-text"><%user.email%></li>
                <li class="directory-list-text"><%user.phone%></li>
                <li class="directory-list-text"><%user.address%></li>
                <li class="directory-list-text"><%user.school%></li>
                <li class="directory-list-text"><%user.kind%></li>
                </ol>
        </div>
            
            </div>
                  </td>
                  <% } %>
              <% } %>
            </tr>
          <% } %>
        </table>
        </div>
    
        <%-include('../partials/_sideBarRight')%>
    </div>
        <%- include('../partials/_footer')%>
  </body>
</html>