<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_meta') %>
    <title>
      <%= title %>
    </title>
</head>

<body>
  <h2>
    <%= title %>
  </h2>
  <div class="container">
    <ul>
      <% events.forEach(event=> {
        const { anchor, label } = fmt(event)
        %>
        <li><a href="<%= anchor %>">
            <%= label %>
          </a></li>
        <% }) %>
    </ul>
  </div>
</body>

</html>