<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_meta') %>
    <title>
      Add to Photos for <%= year %>/<%= event_name %>
    </title>
</head>

<body>
  <h2>
    Add to Photos for <%= year %>/<%= event_name %>
  </h2>
  <div style="margin-left:4em">
    <form action="/photos/<%= year %>/<%= event_name %>/photo" method="POST">
      <label for="photo_caption">Caption:</label>
      <input id="caption" name="caption" type="text" />
      <br />
      <label for="photo_placement">Placement:</label>
      <select id="placement" name="placement">
        <option value="below">Below (default)</option>
        <option value="above">Above</option>
      </select>
      <br />
      <label for="photo_uri">URI:</label>
      <input id="location_uri" name="location_uri" type="text" required />
      <br />
      <input type="submit" />
    </form>
  </div>
</body>

</html>