<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/_meta') %>
    <title>
      Photos/<%= year %>/<%= event_name %>
    </title>
</head>

<body>
  <h2>
    Photos/<%= year %>/<%= event_name %>
  </h2>

  <div class="container">
    <ul>
      <% photos.forEach(photo=> { %>
        <figure>
          <% if (photo.placement==='above' ) { %>
            <figcaption>
              <%= photo.caption %>
            </figcaption>
            <% } %>
              <img src="<%= photo.location_uri %>" alt="epic photo">
              <% if (photo.placement==='below' ) { %>
                <figcaption>
                  <%= photo.caption %>
                </figcaption>
                <% } %>
        </figure>
        <% }) %>
    </ul>
  </div>
</body>

</html>